.main-heading-modified h4 {
    color: #777777 !important;
    font-family: inter;
    font-weight: 600;
}

.search-section-modified {
    display: flex;
    justify-content: end;
}

.select-temp-modified select, .gsearch-modified {
    width: 300px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 15px;
    color: #777777;
}

.select-temp-modified select:invalid {
    color: #A1A1A1 !important;
}

.select-temp-modified select:focus-visible {
    outline: #A1A1A1 !important;
}

.gsearch-modified {
    width: 300px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    padding: 7px 20px;
    margin-right: 15px;
}

.search-sec-modified input:focus-visible {
    outline: #A1A1A1 !important;
}

.chat-section-modified {
    position: relative !important;
}

.search-sec-modified button {
    border: none !important;
    position: absolute;
    top: 12px;
    right: 28px;
    background-color: #00000000;
    color: #777777 !important;
}

.service-container-modified {
    border: 2px solid #e1e1e1;
    margin-top: 50px;
    height: 600px;
    width: 100%;
}

.temp-text-modified h4 {
    margin-top: 30px;
    color: #005B96;
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
}

.temp-text-modified h5 {
    margin-top: 30px;
    color: #181818;
    font-size: 25px;
    font-family: inter;
    font-weight: 500;
    margin-bottom: 10px;
}

.temp-text-modified p {
    color: #8B8B8B;
    font-size: 17px;
    font-weight: 400px !important;
    font-family: inter;
}

.content-search-modified input {
    width: 65%;
    background-color: #ebe9e9;
    padding: 20px 10px;
    border: none !important;
    box-shadow: 1px 0px 10px #fff;
    border-radius: 5px;
    display: block;
}

.form-btn-modified button {
    border: none;
    background: linear-gradient(90deg, #005B96 0%, #00315F 100%);
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
}

.form-btn-modified {
    margin-top: 30px;
}

.form-second-btn-modified {
    padding: 17px 83px !important;
    border-radius: 5px;
    font-size: 18px;
}

.form-first-btn-modified {
    padding: 17px 83px !important;
    border-radius: 5px;
    font-size: 18px;
}

.chat-position-modified {
    bottom: 20px;
    right: 20px;
}

.chat-toggle-modified {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.chat-container-modified {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.chat-header-modified {
    background: linear-gradient(90deg, #001A2B 0%, #005791 100%);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-img-modified {
    margin-right: 15px;
}

.chat-title-modified h3 {
    font-weight: bold;
    font-size: 20px;
}

.chat-title-modified p {
    font-size: 0.8em;
}

.chat-body-modified {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    height: 335px;
}

.message-modified {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-modified .text-modified {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
}

.bot-modified .text-modified {
    background-color: #E0E0E0;
    margin-left: 10px;
}

.user-modified .text-modified {
    background-color: #005791;
    color: white;
    margin-right: 10px;
    margin-left: auto;
}

.chat-footer-modified {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
}

.chat-footer-modified input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}

.chat-footer-modified button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
